<div class="text-center">
  <h2>Your Purchase History</h2>
</div>

<table class="table table-hover table-condensed table-striped table-bordered">
  <tr>
    <th class='text-center'>Image</th>
    <th class='text-center'>Item</th>
    <th class='text-center'>Price</th>
    <th class='text-center'>Seller</th>
    <th class='text-center'>Date Purchased</th>
  </tr>

  <% @orders.each do |order| %>
    <tr>
      <td class='text-center'><%= image_tag order.listing.image.url(:thumb) %></td>
      <td class='text-center'><%= order.listing.name %></td>
      <td class='text-center'><%= number_to_currency(order.listing.price) %></td>
      <td class='text-center'><%= order.seller.name %></td>
      <td class='text-center'><%= order.created_at.strftime('%B %-d, %Y') %></td>
    </tr>
  <% end %>
</table>

<% if user_signed_in? %>
  <%= link_to 'New Listing', new_listing_path, class: 'btn btn-link', data: { no_turbolink: true } %>
<% end %>